{% extends "layout.html" %}
{% block title %}Sign up{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/css/sign.css">{% endblock %}
{% block main %}

    <header class="sign-header">
        <section class="sign-first-block">
            <h2 class="sign-title">Create a new account to stay updated</h2>
            <h4 class="sign-sub">This way you won't lose anything, and you can only benefit from it.</h4>
        </section>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <section class="sign-alt">
                <section class="sign-messages">
                    <ul class="sign-messages-list">
                        {% for category, message in messages %}
                            <li class="sign-message-item">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </section>
            </section>
        {% endif %}
    {% endwith %}

    <main class="sign-main">
        <section class="sign-form">
            <form method="post" action="/sign" class="sign-modules">
                <section class="form-group mb-3">
                    <label for="name" class="form-label">Your name</label>
                    <input required type="text" class="form-control" id="name" name="name" placeholder="John Doe">
                    <section id="name" class="form-text">What's your name?</section>
                </section>

                <section class="form-group mb-3">
                    <label for="genre" class="form-label">Your genre</label>
                    <select required class="form-select" id="genre" name="genre">
                        <option value="M" selected>Man</option>
                        <option value="F">Woman</option>
                        <option value="O">I prefer not to answer</option>
                    </select>
                    <section id="genre" class="form-text">What's your genre?</section>
                </section>

                <section class="form-group mb-3">
                    <label for="email" class="form-label">Your email</label>
                    <input required type="email" class="form-control" id="email" name="email" placeholder="jonndoe@email.us">
                    <section id="email" class="form-text">What's your email?</section>
                </section>

                <section class="form-group mb-3">
                    <label for="password" class="form-label">Your password</label>
                    <input required type="password" class="form-control" id="password" name="password" placeholder="************">
                    <section id="password" class="form-text">What's your password?</section>
                </section>

                <section class="form-group mb-3">
                    <label for="confirm" class="form-label">Repeat your password</label>
                    <input required type="password" class="form-control" id="confirm" name="confirm" placeholder="************">
                    <section id="confirm" class="form-text">Repeat: What's your password?</section>
                </section>

                <section class="form-group mb-3">
                    <label class="form-label question-captcha">{{ question }}</label>
                    <input required type="text" class="form-control" id="answer" name="answer">
                    <section id="answer" class="form-text">Answer the question?</section>
                </section>

                <button type="submit" class="save-the-data">Confirm</button>
            </form>
        </section>
    </main>
    
    <section class="lack-area">
        <section class="sign-information-lack">
            <p class="lack-message">In your hurry, have you forgotten that you are already registered? No problem, Follow the <a href="/signin" class="change-link">button</a></p>
        </section>
    </section>

{% endblock %}
{% block js %}<script src="/static/js/up.js"></script>{% endblock %}
